<div class="fsc-migration-wrapper">
    <h2>{{localize headingTitle}}</h2>
    <div>{{{localize description}}}</div>
    <ul class="fsc-migration-actions">
        <li>
            <div class="fsc-status-indicator"><span class="fa {{display.calendarMigrationStatusIcon}}"></span></div>
            <div class="fsc-migration-status">
                <span>{{localize 'FSC.Migration.v1v2.Calendar'}}</span>
            </div>
        </li>
        <li>
            <div class="fsc-status-indicator"><span class="fa {{display.globalConfigMigrationStatusIcon}}"></span></div>
            <div class="fsc-migration-status">
                <span>{{localize 'FSC.Migration.v1v2.GlobalConfiguration'}}</span>
            </div>
        </li>
        <li>
            <div class="fsc-status-indicator"><span class="fa {{display.notesMigrationStatusIcon}}"></span></div>
            <div class="fsc-migration-status">
                <span>{{localize 'FSC.Migration.v1v2.Notes'}}</span>
            </div>
        </li>
        <li>
            <button class="fsc-control fsc-delete fsc-clean" {{#unless display.enableCleanUp}}disabled{{/unless}}>{{localize 'FSC.Migration.v1v2.Cleanup'}}</button>
        </li>
    </ul>
    {{#if display.migrationDone}}
        <div class="fsc-message fsc-success">{{localize 'FSC.Migration.v1v2.Complete' }}</div>
    {{/if}}

</div>